<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href='/ealplus-public/stylesheets/style.css'/>
    <link rel='stylesheet' href='/ealplus-public/stylesheets/form.css'/>
  </head>
  <body>
    <div class="container">
      <div class="top_contents">
        <div class="title">eALPluS<a href="/connection/" class="link"></a></div>
        <div class="menu">
          <ul>
            <li><a href="#" class="link">About</a></li>
            <li><a href="#" class="link">Return</a></li>
            <li><a href="#" class="link">Logout</a></li>
          </ul>
        </div>
      </div>
      <div class="main_contents">
        <div class="addtool_form">
          <div id="cate_1" class="category display_on">
            <div class="category_name">ツール名</div>
            <div class="category_input">
              <input type="text" class="category_input_text" name="tool_name" size="40">
            </div>
            <div id="tool_name_error" class="tool_add_error"></div>
          
            <div class="category_name">ツールID</div>
            <div class="category_input">
              <input type="text" class="category_input_text" name="tool_id" size="40">
            </div>
            <div id="tool_id_error" class="tool_add_error"></div>
          </div>

          <div id="cate_2" class="category">
            <div class="category_radio">
              <input id="single" type="radio" name="proxy_rule" value="single" onchange="page_list_change()" checked>
              <label class="tab_item single_img" for="single">シングル</label>
              <input id="multi" type="radio" name="proxy_rule" value="multi" onchange="page_list_change()">
              <label class="tab_item multi_img" for="multi">マルチ</label>
              <input id="role" type="radio" name="proxy_rule" value="role" onchange="page_list_change()">
              <label class="tab_item role_img" for="role">ロール</label>
            </div>
          </div>

          <div id="cate_3" class="category">
            <div class="category_name">ツールURL</div>
            <div class="category_input">
              <input type="text" class="category_input_text" name="tool_url" size="40">
            </div>

            <div class="category_info">パラメータealps_sidを挿入するとproxy時に学籍番号が追加されます<br>例：http://abc.com?ealps_sid&・・・</div>
            <div class="category_info">パラメータealps_cidを挿入するとproxy時に授業コードが追加されます<br>例：http://abc.com?ealps_cid&・・・</div>
            <div class="category_info">パラメータealps_roleを挿入するとproxy時にロール情報が追加されます<br>例：http://abc.com?ealps_role&・・・</div>
            <div id="tool_url_error" class="tool_add_error"></div>
          </div>

          <div id="cate_4" class="category">
            <div class="category_name">ルーティングルールの追加</div>
            <table id="route_table">
              <tr>
                <th class="del_td"></th>
                <th class="student_number_td">学籍番号</th>
                <th class="tool_url_td">ツールURL</th>
              </tr>
            </table>
            <div id="add_tb">+</div>
            <div class="csv_load_button_area">
              <label class="csv_load_button" for="csv_load">
                CSVファイルの読み込み
                <input id="csv_load" type="file" accept=".csv"/>
              </label>
            </div>
            <div id="route_table_error" class="tool_add_error"></div>
          </div>

          <div id="cate_5" class="category">
            <div class="category_name">教師ツールURL</div>
            <div class="category_input">
              <input type="text" class="category_input_text" name="role_teacher_url" size="40">
            </div>
            <div class="category_name">学生ツールURL</div>
            <div class="category_input">
              <input type="text" class="category_input_text" name="role_student_url" size="40">
            </div>

            <div class="category_info">パラメータealps_sidを挿入するとproxy時に学籍番号が追加されます<br>例：http://abc.com?ealps_sid&・・・</div>
            <div class="category_info">パラメータealps_cidを挿入するとproxy時に授業コードが追加されます<br>例：http://abc.com?ealps_cid&・・・</div>
            <div class="category_info">パラメータealps_roleを挿入するとproxy時にロール情報が追加されます<br>例：http://abc.com?ealps_role&・・・</div>
            <div id="role_url_error" class="tool_add_error"></div>
          </div>

          <div id="cate_6" class="category">
            <div class="category_name">作成中</div>
            <div class="loader">Loading...</div>
          </div>

          <div class="control_area">
            <div class="control_button">
              <div id="back_button">戻る</div>
              <div id="next_button">次へ</div>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="/ealplus-public/javascripts/addtool.js"></script>
    </div>
  </body>
</html>