<!DOCTYPE html>
<html>
  <head>
    <title>eALPluS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href='/ealplus-public/stylesheets/style.css'/>
    <link rel='stylesheet' href='/ealplus-public/stylesheets/tool_list.css'/>
  </head>
  <body>
    <div class="container">
      <div class="top_contents">
        <div class="title">eALPluS</div>
      </div>
      
      <div class="main_contents">
        <p><%= error %></p>
      </div>

    </div>
  </body>
</html>
