<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href='/ealplus-public/stylesheets/tool.css'/>
  </head>
  <body>
    <div class="tool_window">
      <iframe id="tool" class="tool_contents" src= "<%= tool_url %>"></iframe>
    </div>
  </body>
</html>
